@{
    ViewBag.Title = "Import khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Import khách hàng từ file CSV</h3>
<br />
@using (Html.BeginForm("Import", "KhachHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="file">Chọn file CSV:</label>
        <input type="file" name="file" id="file" class="form-control" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Import</button>
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary ml-2" })
}
